@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

/*STYLE TYPEWARP*/

.wrap {
    max-width: 600px;
    margin: 150px auto;
}

.type-wrap {
    font-family: "Ubuntu", sans-serif;
    margin: 0 281px 0 281px;
    padding: 20px;
    background: rgba(196, 204, 211, 1.0);
    border-radius: 5px;
    border: #CCC 1px solid;
    line-height: 2em;
    text-align: center;
    color: #343839;

}

.links {
    margin: 20px 0;
    font-size: 0.75em;
    text-align: center;
}